<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/resources :: headResources('Photo List')"></head>
<body data-bs-theme="dark">

<nav th:replace="fragments/navbar :: topNavbar('photo list')"></nav>

<div class="card m-5">
    <div class="card-body">

        <div th:replace="fragments/components :: message"></div>

        <div class="container">
            <div class="row g-3">
                <div class="d-flex align-items-center">
                    <h1 class="m-0">Photo List</h1>
                    <a
                            th:href="@{/photos/create}"
                            class="btn btn-primary ms-auto"
                    ><i class="fa-solid fa-plus"></i></a>
                </div>

                <form th:action="@{/photos}" method="GET">
                    <div class="input-group">
                        <input
                                type="text"
                                placeholder="Search photo by name"
                                class="form-control" name="search"
                                th:value="${param.search}"
                        >
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>

                <table th:if="${photoList.size() > 0}" class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Visible</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="photo : ${photoList}" th:object="${photo}">
                        <td th:text="*{id}" class="fs-4"></td>
                        <td th:text="*{title}" class="fs-6"></td>
                        <td th:text="*{description}" class="fs-6"></td>
                        <td th:text="*{visible ? 'yes' : 'no'}" class="fs-6"></td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <a class="btn btn-primary" th:href="@{/photos/show/{id}(id = *{id})}" title="details"><i
                                        class="fa-solid fa-eye"></i></i></a>

                                <a
                                        class="btn btn-primary"
                                        th:href="@{/photos/edit/{id}(id = *{id})}"
                                        title="Photo Edit"
                                ><i
                                        class="fa-solid fa-pen-to-square"></i></a>

                                <form
                                        method="post"
                                        th:action="@{/photos/delete/{id}(id = *{id})}"
                                        onsubmit="return confirm('Are you sure ?')"
                                >
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:unless="${photoList.size() > 0}">There are no photos available</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>